$site-black: #1e212b;
$site-red: #fd3e67;
$site-yellow: #ffe74c;
$site-blue: #645dd7;
$site-grey: #c3d2d5;
$site-white: #ffffff;

body {
  color: $site-black;
  font-family: poppins;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar-container {
  color: $site-grey;
  background-color: $site-black;
  font-size: 1.2rem;

  .nav-link {
    color: $site-grey;
  }

  a.navbar-brand {
    color: $site-red;
  }

  a.active {
    color: $site-yellow;
  }
}

.main-content-container {
  min-height: calc(100vh - 58px);
  background-color: $site-black;
  display: flex;
  justify-content: center;
  background-image: url("../img/undraw_dashboard_image.png");
  background-repeat: no-repeat;
  background-position: right;
  // give right padding to the background image
  border-right: 4rem solid $site-black;

  .main-content {
    display: block;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;

    .welcome-message {
      color: $site-blue;
      text-transform: uppercase;
      margin-bottom: 5rem;
      font-size: 2rem;
      margin-bottom: 0;
      padding-bottom: 0;
    }

    .thanks-message {
      color: $site-grey;
      font-size: 1rem;
      margin-top: 0;
      padding-top: 0;
      margin-bottom: 5rem;
    }

    .about-me {
      color: $site-grey;
      width: 50%;
    }
  }
}

.site-title {
  color: $site-yellow;
  text-transform: uppercase;
  font-family: comfortaa;
  font-size: 65px;
  width: 60%;
}

section {
  margin: 0;
  padding: 0;
}

.background-grey {
  background-color: $site-grey;
}
.background-black {
  background-color: $site-black;
}

.color-red {
  color: $site-red;
}

.color-grey {
  color: $site-grey;
}

.black-white-transition {
  background-color: hotpink;
  min-height: 4rem;
  width: 100%;
}

.section-title {
  color: $site-red;
  font-family: comfortaa;
  font-size: 2rem;
  margin-bottom: 1rem;
  font-weight: bold;
}

.section-title::after {
  background: none repeat scroll 0 0 $site-red;
  bottom: -10px;
  content: "";
  display: block;
  height: 4px;
  position: relative;
  width: 50px;
  border-radius: 20px;
  margin-bottom: 1rem;
}

.section-title:first-child {
  // make its position(y) to be y-3
}

section.skills:last-child {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}
.card-container {
  padding: 10px;
  background-color: $site-grey;

  .card {
    border-radius: 40px;
    min-height: 500px;
    border-color: $site-black;

    .card-thumbnail {
      height: 323px;
      // max-height: 323px;
      align-items: center;
      margin: 2rem 20px 1rem 20px;
    }
    .mobile-dev-card {
      background-image: url("../img/undraw_android_img.png");
      background-position: center;
      background-repeat: no-repeat;
    }
    .web-dev-card {
      background-image: url("../img/undraw_web_developer.png");
      background-position: center;
      background-repeat: no-repeat;
    }
    .ml-ai-card {
      background-image: url("../img/undraw_Artificial_intelligence.png");
      background-position: center;
      background-repeat: no-repeat;
    }
    .card-title {
      color: $site-red;
      font-family: poppins;
      text-align: center;
    }
    .skill-icon-container {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-evenly;
      align-items: center;
    }
  } // card
} // card container
.skillset-icon-container {
  height: 150px;
  border: solid 2px $site-white;
  background-color: $site-white;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 20px;

  .skillset-icon {
    // border: blue 2px solid;
    height: 65px;
  }
}

.experience-container {
  margin-top: 2rem;
  margin-bottom: 2rem;

  .exp-date {
    font-family: poppins;
    // font-size: 20px;
    font-weight: lighter;
    color: $site-black;
    // color: rebeccapurple;
  }

  .exp-role {
    color: $site-red;
    font-family: poppins;
    text-transform: uppercase;
    font-size: 1.2rem;

    a {
      color: unset;
      text-decoration: none;
    }
  }

  .exp-company {
    color: $site-blue;
    font-weight: bold;

    // font-size: 1.5rem;
  }
}
.experience-container:last-child {
  margin-bottom: 0;
}

.education-container {
  margin-top: 2rem;

  .edu-qualification {
    text-transform: uppercase;
    color: $site-yellow;
  }

  .edu-school {
    color: $site-blue;
  }

  ul {
    color: $site-grey;
    padding-left: 50px;
  }
}
.education-container:last-child {
  margin-bottom: 0;
}
