body {
  color: #1e212b;
  font-family: poppins;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.navbar-container {
  color: #c3d2d5;
  background-color: #1e212b;
  font-size: 1.2rem;
}

.navbar-container .nav-link {
  color: #c3d2d5;
}

.navbar-container a.navbar-brand {
  color: #fd3e67;
}

.navbar-container a.active {
  color: #ffe74c;
}

.main-content-container {
  min-height: calc(100vh - 58px);
  background-color: #1e212b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: url("../img/undraw_dashboard_image.png");
  background-repeat: no-repeat;
  background-position: right;
  border-right: 4rem solid #1e212b;
}

.main-content-container .main-content {
  display: block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-content-container .main-content .welcome-message {
  color: #645dd7;
  text-transform: uppercase;
  margin-bottom: 5rem;
  font-size: 2rem;
  margin-bottom: 0;
  padding-bottom: 0;
}

.main-content-container .main-content .thanks-message {
  color: #c3d2d5;
  font-size: 1rem;
  margin-top: 0;
  padding-top: 0;
  margin-bottom: 5rem;
}

.main-content-container .main-content .about-me {
  color: #c3d2d5;
  width: 50%;
}

.site-title {
  color: #ffe74c;
  text-transform: uppercase;
  font-family: comfortaa;
  font-size: 65px;
  width: 60%;
}

section {
  margin: 0;
  padding: 0;
}

.background-grey {
  background-color: #c3d2d5;
}

.background-black {
  background-color: #1e212b;
}

.color-red {
  color: #fd3e67;
}

.color-grey {
  color: #c3d2d5;
}

.black-white-transition {
  background-color: hotpink;
  min-height: 4rem;
  width: 100%;
}

.section-title {
  color: #fd3e67;
  font-family: comfortaa;
  font-size: 2rem;
  margin-bottom: 1rem;
  font-weight: bold;
}

.section-title::after {
  background: none repeat scroll 0 0 #fd3e67;
  bottom: -10px;
  content: "";
  display: block;
  height: 4px;
  position: relative;
  width: 50px;
  border-radius: 20px;
  margin-bottom: 1rem;
}

section.skills:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card-container {
  padding: 10px;
  background-color: #c3d2d5;
}

.card-container .card {
  border-radius: 40px;
  min-height: 500px;
  border-color: #1e212b;
}

.card-container .card .card-thumbnail {
  height: 323px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 2rem 20px 1rem 20px;
}

.card-container .card .mobile-dev-card {
  background-image: url("../img/undraw_android_img.png");
  background-position: center;
  background-repeat: no-repeat;
}

.card-container .card .web-dev-card {
  background-image: url("../img/undraw_web_developer.png");
  background-position: center;
  background-repeat: no-repeat;
}

.card-container .card .ml-ai-card {
  background-image: url("../img/undraw_Artificial_intelligence.png");
  background-position: center;
  background-repeat: no-repeat;
}

.card-container .card .card-title {
  color: #fd3e67;
  font-family: poppins;
  text-align: center;
}

.card-container .card .skill-icon-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.skillset-icon-container {
  height: 150px;
  border: solid 2px #ffffff;
  background-color: #ffffff;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 20px;
}

.skillset-icon-container .skillset-icon {
  height: 65px;
}

.experience-container {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.experience-container .exp-date {
  font-family: poppins;
  font-weight: lighter;
  color: #1e212b;
}

.experience-container .exp-role {
  color: #fd3e67;
  font-family: poppins;
  text-transform: uppercase;
  font-size: 1.2rem;
}

.experience-container .exp-role a {
  color: unset;
  text-decoration: none;
}

.experience-container .exp-company {
  color: #645dd7;
  font-weight: bold;
}

.experience-container:last-child {
  margin-bottom: 0;
}

.education-container {
  margin-top: 2rem;
}

.education-container .edu-qualification {
  text-transform: uppercase;
  color: #ffe74c;
}

.education-container .edu-school {
  color: #645dd7;
}

.education-container ul {
  color: #c3d2d5;
  padding-left: 50px;
}

.education-container:last-child {
  margin-bottom: 0;
}

.project-card {
  border-radius: 20px;
  background-color: #ffffff;
  color: #fd3e67;
}

.project-card .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.project-card img {
  max-width: 200px;
}

.project-highlight {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40%;
  padding: 2rem 0;
}

.project-highlight img {
  max-height: 76px;
  max-width: 60%;
  margin-bottom: 1rem;
}

.project-highlight a {
  color: unset;
  text-decoration: none;
  border: 2px solid #ffe74c;
  border-radius: 10px;
  padding: 5px;
}

.project-highlight a:hover {
  color: #1e212b;
  border-color: #fd3e67;
}

.project-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=style.css.map */